[submodule "sqapi"]
	path = source/dependencies/sqapi
	url = https://gitlab.com/GothicMultiplayerTeam/dependencies/sqapi.git
	branch = main
[submodule "pybind11"]
	path = source/dependencies/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = master